In [1]:
# need to do this before transformer imports
import os
os.environ['HF_HOME'] = '/workspace/cache/huggingface/'

import os
os.chdir('/workspace/FutureGPT2/src/')
from evals.utils import *
from models.bigram_model import *
from models.mlp_model import *
from models.future_model import *
from data.utils import get_tokenizer
import datasets
from torch.utils.data import DataLoader
from torch import nn
from itertools import islice
from transformers import AutoConfig, AutoModelForCausalLM, AutoTokenizer
from datasets import Dataset
from torch import nn

from tqdm import tqdm
import pandas as pd
import gc
from glob import glob
import numpy as np
import copy

%load_ext autoreload
%autoreload 2

import warnings
warnings.filterwarnings("ignore")

In [2]:
def invert(f, y, start=1, eps=1e-4):
    '''
    Given monotonic increasing function f with domain [0,\infty), returns f^{-1}(y)
    '''
    if f(0) > y + eps:
        assert False
    elif np.abs(f(0) - y) < eps:
        return 0
    x = start
    if np.abs(f(x) - y) < eps:
        return x
    while f(x) < y:
        x *= 2
    while f(x) > y:
        x /= 2
    return x + invert(lambda z: f(z + x), y, start=x, eps=eps)

In [3]:
lsqr_cache = dict()

In [4]:
def constr_lsqr(y, A, c):
    '''
    Finds inf_w \|y-Aw\|_2 s.t. \|w\|_2<=c
    '''
    hash = tuple(A.flatten())
    if not hash in lsqr_cache:
        print('calcing SVD!')
        ATA = A.T @ A
        lsqr_cache[hash] = ATA, np.linalg.svd(ATA)
        print('SVD done!')

    ATA, (U, S, VT) = lsqr_cache[hash]
    ATy = A.T @ y
    VTATy = VT @ ATy
    S = S.reshape((-1, 1))
    
    neg_norm = lambda lam: -np.linalg.norm(VTATy / (S + lam))        
    if neg_norm(0) >= -c:
        lam = 0
    else:
        lam = invert(neg_norm, -c)
    return np.linalg.inv(ATA + lam * np.eye(A.shape[1])) @ ATy

In [5]:
class Intervene(nn.Module):
    '''
    Replaces (some subset of) input hidden_states with new_states
    Expects (batch_size, seq_length, embed_dim)
    '''
    def __init__(self, new_states):
        super().__init__()
        self.new_states = new_states

    def forward(self, hidden_states, **kwargs):
        for i in [0, 2]:
            assert self.new_states.shape[i] == hidden_states.shape[i]
        hidden_states[:,:self.new_states.shape[1],:] = self.new_states
        return hidden_states, None, None

In [6]:
model_name = 'mistralai/Mistral-7B-v0.1'

In [7]:
tokenizer = AutoTokenizer.from_pretrained(model_name)
Token = {v: k for k, v in tokenizer.get_vocab().items()}

In [8]:
def print_tokens(s):
    tokens = tokenizer(s)['input_ids']
    print('|'.join(Token[t] for t in tokens))

In [9]:
def topk(v, k=10):
    # Takes in logits
    #v = softmax(v.flatten())
    v = v.flatten()
    idxs = v.argsort()[-k:][::-1]
    ret = [(Token[i], v[i]) for i in idxs]
    return pd.DataFrame(ret, columns=['token', 'logit'])

In [10]:
ckpt = glob(
    '/workspace/checkpoints/MISTRAL-NECK-SWEEP_*_hidden_idxs-31_hidden_lb-0_token_lb--1_neck_cls-mlp_*',
)[0]

In [11]:
ckpt

'/workspace/checkpoints/MISTRAL-NECK-SWEEP_20231231-131900-D4c1E_hidden_idxs-31_hidden_lb-0_token_lb--1_neck_cls-mlp_epoch=00-val_self_loss=4.63.ckpt'

In [12]:
model = LitFutureModelWithNeck.load_from_checkpoint(ckpt, strict=False)

Loading checkpoint shards:   0%|          | 0/2 [00:00<?, ?it/s]

In [14]:
orig_layers = copy.deepcopy(model.base_model.model.layers)

In [13]:
neck = model.future_neck.layers[0].weight.data.cpu().numpy()
D = model.base_model.lm_head.weight.data.cpu().numpy()
E = model.base_model.model.embed_tokens.weight.data.cpu().numpy()
A = D @ neck

In [106]:
tokenizer('platinum')

{'input_ids': [1, 549, 28250], 'attention_mask': [1, 1, 1]}

In [14]:
t1 = np.zeros((32000, 1))
t1[tokenizer('platinum').input_ids[-2]] = 1
t2 = np.zeros((32000, 1))
t2[tokenizer('platinum').input_ids[-1]] = 1
v1 = E.T @ t1

In [15]:
torch.set_grad_enabled(False)

In [103]:
print_tokens('platinum')

<s>|‚ñÅpl|atinum

In [16]:
input = tokenizer('My favorite element of the periodic table is', return_tensors='pt').to('cuda')

In [21]:
del model.base_model.model.layers
gc.collect()
torch.cuda.empty_cache()
model.base_model.model.layers = copy.deepcopy(orig_layers)
gc.collect()
torch.cuda.empty_cache()

In [17]:
out = model.base_model(**input, output_hidden_states=True)

In [18]:
topk(out.logits[0,-1,:].cpu().numpy())

       token      logit
0       ‚ñÅthe  10.955291
1       ‚ñÅarg   9.615419
2    ‚ñÅcarbon   9.581732
3      ‚ñÅgold   9.542505
4         ‚ñÅb   9.452555
5     ‚ñÅhydro   9.409390
6    ‚ñÅsilver   9.310298
7  ‚ñÅprobably   9.113802
8       ‚ñÅflu   9.051174
9       ‚ñÅmer   9.013393

In [19]:
h = out.hidden_states[31][0,-1,:].detach().cpu().numpy().reshape((-1, 1))
#topk(A @ np.concatenate([h, v1]))
topk(A @ h)

      token     logit
0        on  8.596912
1       ium  8.572868
2  ‚ñÅelement  8.255547
3      icon  8.056475
4       gen  7.965827
5        um  7.789818
6        od  7.607457
7      ‚ñÅthe  7.550673
8        an  7.540741
9      cury  7.414806

In [20]:
#target = 800 * t2 - A @ np.concatenate([h, v1], axis=0)  # output logits have norm around ~800
target = 800 * t2 - A @ h

In [31]:
v2_dict = {}
for eps in range(1, 40, 2):
    v2_dict[eps] = constr_lsqr(target, A[:,:4096], eps)
    print(eps, np.linalg.norm(v2_dict[eps]))

1 1.000094168294038
3 3.0000024176526274
5 4.9999936743781515
7 6.999983563878301
9 9.000068985477538
11 10.999995821994638
13 13.000050517633445
15 15.000021930273176
17 17.000056975894278
19 19.00001069258778
21 20.999901042381783
23 22.999962233140653
25 25.00004614683991
27 27.000099062531113
29 29.000081017694367
31 30.999967419911545
33 33.00006762607578
35 34.99993622984038
37 37.000032519153024
39 38.99994214636536

In [32]:
for eps in v2_dict:
    print(eps)
    print(topk(A @ (h + v2_dict[eps])))

1
      token     logit
0       ium  8.912441
1      icon  8.591976
2  ‚ñÅelement  8.486414
3       gen  8.478638
4      cury  8.344257
5        on  8.338239
6       rom  7.823799
7       ith  7.773242
8        od  7.733794
9        um  7.712451
3
      token     logit
0      cury  9.747360
1      icon  9.031064
2  ‚ñÅelement  8.890864
3      obal  8.889878
4       ium  8.809325
5       gen  8.791047
6      osph  8.410558
7    atinum  8.271071
8     xygen  8.206147
9     rogen  8.154701
5
      token     logit
0      cury  9.410071
1    atinum  8.897562
2  ‚ñÅelement  8.372938
3      obal  7.942448
4     xygen  7.929935
5   ‚ñÅatomic  7.664288
6     ‚ñÅatom  7.656118
7      icon  7.591521
8      ‚ñÅbor  7.267469
9   ‚ñÅsilver  7.192181
7
      token     logit
0    atinum  9.534046
1      cury  8.490225
2  ‚ñÅelement  7.115472
3   ‚ñÅsilver  6.783089
4     xygen  6.742288
5      obal  6.721434
6   ‚ñÅatomic  6.512379
7     ‚ñÅatom  6.277526
8      icon  6.204196
9     ‚ñÅgold  6.107668
9
      token      logit
0    atinum  10.672559
1      cury   7.726743
2   ‚ñÅsilver   6.595661
3     ‚ñÅgold   6.249301
4  ‚ñÅelement   6.067153
5      obal   5.933531
6     xygen   5.777470
7   ‚ñÅatomic   5.586040
8   ‚ñÅSilver   5.300992
9      icon   5.234757
11
      token      logit
0    atinum  12.133286
1      cury   7.111580
2   ‚ñÅsilver   6.629243
3     ‚ñÅgold   6.599260
4   ‚ñÅSilver   5.452147
5      obal   5.397273
6  ‚ñÅelement   5.236949
7     ‚ñÅGold   5.123486
8     xygen   5.031588
9     arium   5.015334
13
     token      logit
0   atinum  13.772941
1    ‚ñÅgold   7.079744
2  ‚ñÅsilver   6.807795
3     cury   6.622132
4    ‚ñÅGold   5.729812
5  ‚ñÅSilver   5.686037
6     atin   5.324232
7     gold   5.222122
8     obal   5.023960
9    arium   4.971543
15
     token      logit
0   atinum  15.488208
1    ‚ñÅgold   7.624703
2  ‚ñÅsilver   7.066274
3    ‚ñÅGold   6.363385
4     cury   6.235078
5  ‚ñÅSilver   5.966180
6     atin   5.919941
7     gold   5.658168
8     Gold   5.379672
9    arium   4.958552
17
     token      logit
0   atinum  17.212785
1    ‚ñÅgold   8.189899
2  ‚ñÅsilver   7.360555
3    ‚ñÅGold   6.995448
4     atin   6.483948
5  ‚ñÅSilver   6.264951
6     gold   6.122634
7     Gold   5.968752
8     cury   5.929559
9    arium   4.960556
19
      token      logit
0    atinum  18.907424
1     ‚ñÅgold   8.749065
2   ‚ñÅsilver   7.663958
3     ‚ñÅGold   7.608820
4      atin   7.008349
5      gold   6.589246
6   ‚ñÅSilver   6.564481
7      Gold   6.534073
8      cury   5.688566
9  ‚ñÅdiamond   5.113125
21
      token      logit
0    atinum  20.550979
1     ‚ñÅgold   9.288062
2     ‚ñÅGold   8.194387
3   ‚ñÅsilver   7.961591
4      atin   7.492143
5      Gold   7.070187
6      gold   7.043496
7   ‚ñÅSilver   6.854348
8      cury   5.498607
9  ‚ñÅdiamond   5.381237
23
      token      logit
0    atinum  22.133557
1     ‚ñÅgold   9.800173
2     ‚ñÅGold   8.748113
3   ‚ñÅsilver   8.245801
4      atin   7.937316
5      Gold   7.575045
6      gold   7.478086
7   ‚ñÅSilver   7.129065
8   ‚ñÅGolden   5.688522
9  ‚ñÅdiamond   5.637721
25
     token      logit
0   atinum  23.651500
1    ‚ñÅgold  10.282832
2    ‚ñÅGold   9.268841
3  ‚ñÅsilver   8.513081
4     atin   8.346899
5     Gold   8.048532
6     gold   7.889812
7  ‚ñÅSilver   7.386124
8  ‚ñÅGolden   6.091209
9  ‚ñÅgolden   5.913918
27
     token      logit
0   atinum  25.104942
1    ‚ñÅgold  10.735858
2    ‚ñÅGold   9.757127
3  ‚ñÅsilver   8.762306
4     atin   8.724249
5     Gold   8.491717
6     gold   8.277855
7  ‚ñÅSilver   7.624823
8  ‚ñÅGolden   6.468758
9  ‚ñÅgolden   6.262630
29
     token      logit
0   atinum  26.496013
1    ‚ñÅgold  11.160305
2    ‚ñÅGold  10.214426
3     atin   9.072636
4  ‚ñÅsilver   8.993642
5     Gold   8.906264
6     gold   8.642677
7  ‚ñÅSilver   7.845472
8  ‚ñÅGolden   6.822632
9  ‚ñÅgolden   6.589260
31
     token      logit
0   atinum  27.827821
1    ‚ñÅgold  11.557818
2    ‚ñÅGold  10.642614
3     atin   9.395087
4     Gold   9.294092
5  ‚ñÅsilver   9.207918
6     gold   8.985394
7  ‚ñÅSilver   8.048919
8  ‚ñÅGolden   7.154502
9  ‚ñÅgolden   6.895201
33
     token      logit
0   atinum  29.104065
1    ‚ñÅgold  11.930329
2    ‚ñÅGold  11.043775
3     atin   9.694374
4     Gold   9.657237
5  ‚ñÅsilver   9.406306
6     gold   9.307464
7  ‚ñÅSilver   8.236303
8  ‚ñÅGolden   7.466122
9  ‚ñÅgolden   7.182045
35
     token      logit
0   atinum  30.328012
1    ‚ñÅgold  12.279658
2    ‚ñÅGold  11.419835
3     Gold   9.997542
4     atin   9.972851
5     gold   9.610312
6  ‚ñÅsilver   9.590012
7  ‚ñÅSilver   8.408785
8  ‚ñÅGolden   7.759072
9  ‚ñÅgolden   7.451280
37
     token      logit
0   atinum  31.503375
1    ‚ñÅgold  12.607717
2    ‚ñÅGold  11.772809
3     Gold  10.316902
4     atin  10.232715
5     gold   9.895485
6  ‚ñÅsilver   9.760329
7  ‚ñÅSilver   8.567614
8  ‚ñÅGolden   8.034965
9  ‚ñÅgolden   7.704448
39
     token      logit
0   atinum  32.633140
1    ‚ñÅgold  12.916149
2    ‚ñÅGold  12.104427
3     Gold  10.616934
4     atin  10.475792
5     gold  10.164325
6  ‚ñÅsilver   9.918422
7  ‚ñÅSilver   8.713922
8  ‚ñÅGolden   8.295165
9  ‚ñÅgolden   7.942870

In [28]:
model.base_model.model.layers.insert(31, Intervene(None)) # dummy, to be replaced

In [33]:
for eps in v2_dict:
    print(eps)
    new_state = copy.deepcopy(out.hidden_states[31])#[:,:-1,:] # Don't overwrite last token
    new_state[0,-1,:] += torch.Tensor(v2_dict[eps].flatten()).to('cuda')
    model.base_model.model.layers[31] = Intervene(new_state)
    new_out = model.base_model(**input)
    print(topk(new_out.logits[0,-1,:].cpu().numpy()))

1
       token      logit
0       ‚ñÅthe  10.734898
1       ‚ñÅarg   9.385143
2    ‚ñÅcarbon   9.366797
3      ‚ñÅgold   9.301023
4    ‚ñÅsilver   9.223804
5     ‚ñÅhydro   9.166210
6         ‚ñÅb   9.157669
7  ‚ñÅprobably   9.082529
8      ‚ñÅiron   8.965122
9       ‚ñÅflu   8.943411
3
       token      logit
0       ‚ñÅthe  10.274455
1    ‚ñÅsilver   8.973610
2  ‚ñÅprobably   8.970881
3      ‚ñÅiron   8.847486
4    ‚ñÅcarbon   8.811537
5       ‚ñÅarg   8.788260
6      ‚ñÅgold   8.664562
7       ‚ñÅflu   8.638989
8      ‚ñÅlead   8.539852
9     ‚ñÅhydro   8.539461
5
         token     logit
0         ‚ñÅthe  9.782408
1      ‚ñÅsilver  8.819941
2    ‚ñÅprobably  8.761072
3        ‚ñÅiron  8.586790
4        ‚ñÅgall  8.411600
5        ‚ñÅlead  8.225731
6         ‚ñÅcad  8.205074
7      ‚ñÅcarbon  8.153930
8         ‚ñÅflu  8.147808
9  ‚ñÅdefinitely  8.090841
7
         token     logit
0         ‚ñÅthe  9.435711
1      ‚ñÅsilver  8.943274
2    ‚ñÅprobably  8.581954
3        ‚ñÅgall  8.356562
4        ‚ñÅiron  8.279730
5         ‚ñÅcad  8.208963
6  ‚ñÅdefinitely  8.096160
7        ‚ñÅlead  8.085360
8        ‚ñÅGall  7.991706
9         ‚ñÅces  7.941221
9
         token     logit
0         ‚ñÅthe  9.166679
1      ‚ñÅsilver  9.094851
2    ‚ñÅprobably  8.426750
3        ‚ñÅgall  8.118212
4         ‚ñÅcad  8.060874
5  ‚ñÅdefinitely  8.047551
6        ‚ñÅiron  7.972907
7        ‚ñÅlead  7.947025
8      ‚ñÅSilver  7.890530
9         ‚ñÅces  7.805481
11
         token     logit
0      ‚ñÅsilver  9.196067
1         ‚ñÅthe  8.917044
2    ‚ñÅprobably  8.269397
3      ‚ñÅSilver  8.078341
4  ‚ñÅdefinitely  7.949583
5         ‚ñÅcad  7.788732
6        ‚ñÅlead  7.766880
7        ‚ñÅgall  7.749557
8        ‚ñÅiron  7.669209
9         ‚ñÅsil  7.649632
13
         token     logit
0      ‚ñÅsilver  9.210526
1         ‚ñÅthe  8.665117
2      ‚ñÅSilver  8.127717
3    ‚ñÅprobably  8.094282
4  ‚ñÅdefinitely  7.796915
5         ‚ñÅsil  7.594189
6        ‚ñÅlead  7.543444
7         ‚ñÅces  7.452817
8          ‚ñÅpl  7.418966
9         ‚ñÅcad  7.409161
15
         token     logit
0      ‚ñÅsilver  9.130018
1         ‚ñÅthe  8.400131
2      ‚ñÅSilver  8.044044
3       atinum  7.960907
4    ‚ñÅprobably  7.890465
5  ‚ñÅdefinitely  7.588481
6         ‚ñÅsil  7.549213
7          ‚ñÅpl  7.451561
8        ‚ñÅlead  7.281860
9         ‚ñÅces  7.245566
17
         token     logit
0       atinum  9.234026
1      ‚ñÅsilver  8.970887
2         ‚ñÅthe  8.118745
3      ‚ñÅSilver  7.854090
4    ‚ñÅprobably  7.653748
5         ‚ñÅsil  7.501927
6          ‚ñÅpl  7.429740
7  ‚ñÅdefinitely  7.329061
8         ‚ñÅces  7.022141
9        ‚ñÅlead  6.989369
19
         token      logit
0       atinum  10.433847
1      ‚ñÅsilver   8.762617
2         ‚ñÅthe   7.823702
3      ‚ñÅSilver   7.594760
4         ‚ñÅsil   7.445966
5    ‚ñÅprobably   7.386724
6          ‚ñÅpl   7.377535
7  ‚ñÅdefinitely   7.028361
8         ‚ñÅces   6.788015
9         ‚ñÅtit   6.680572
21
         token      logit
0       atinum  11.568274
1      ‚ñÅsilver   8.536129
2         ‚ñÅthe   7.521470
3         ‚ñÅsil   7.379837
4          ‚ñÅpl   7.319099
5      ‚ñÅSilver   7.302387
6    ‚ñÅprobably   7.096556
7  ‚ñÅdefinitely   6.698702
8         ‚ñÅtit   6.587831
9         ‚ñÅces   6.550235
23
         token      logit
0       atinum  12.647903
1      ‚ñÅsilver   8.316224
2         ‚ñÅsil   7.304702
3          ‚ñÅpl   7.272895
4         ‚ñÅthe   7.219673
5      ‚ñÅSilver   7.006085
6    ‚ñÅprobably   6.792184
7         ‚ñÅtit   6.483467
8  ‚ñÅdefinitely   6.352516
9         ‚ñÅces   6.315766
25
       token      logit
0     atinum  13.680795
1    ‚ñÅsilver   8.119044
2        ‚ñÅpl   7.249797
3       ‚ñÅsil   7.222647
4       ‚ñÅthe   6.925265
5    ‚ñÅSilver   6.725644
6  ‚ñÅprobably   6.482241
7       ‚ñÅtit   6.373027
8        ‚ñÅPl   6.164523
9       ‚ñÅces   6.090194
27
       token      logit
0     atinum  14.671221
1    ‚ñÅsilver   7.952577
2        ‚ñÅpl   7.253733
3       ‚ñÅsil   7.135666
4       ‚ñÅthe   6.643438
5    ‚ñÅSilver   6.472198
6       ‚ñÅtit   6.260854
7        ‚ñÅPl   6.182988
8  ‚ñÅprobably   6.173803
9       ‚ñÅces   5.877158
29
       token      logit
0     atinum  15.620055
1    ‚ñÅsilver   7.818759
2        ‚ñÅpl   7.283553
3       ‚ñÅsil   7.045273
4       ‚ñÅthe   6.377478
5    ‚ñÅSilver   6.250337
6        ‚ñÅPl   6.226800
7       ‚ñÅtit   6.149776
8  ‚ñÅprobably   5.872057
9       ‚ñÅces   5.678481
31
       token      logit
0     atinum  16.525879
1    ‚ñÅsilver   7.715679
2        ‚ñÅpl   7.335047
3       ‚ñÅsil   6.952437
4        ‚ñÅPl   6.289811
5       ‚ñÅthe   6.128998
6    ‚ñÅSilver   6.060309
7       ‚ñÅtit   6.041301
8  ‚ñÅprobably   5.580464
9       ‚ñÅces   5.494608
33
       token      logit
0     atinum  17.386318
1    ‚ñÅsilver   7.639363
2        ‚ñÅpl   7.402638
3       ‚ñÅsil   6.857727
4        ‚ñÅPl   6.365386
5       ‚ñÅtit   5.935988
6    ‚ñÅSilver   5.899849
7       ‚ñÅthe   5.898376
8       ‚ñÅces   5.325066
9  ‚ñÅprobably   5.301084
35
       token      logit
0     atinum  18.198450
1    ‚ñÅsilver   7.585096
2        ‚ñÅpl   7.480514
3       ‚ñÅsil   6.761475
4        ‚ñÅPl   6.447340
5       ‚ñÅtit   5.833870
6    ‚ñÅSilver   5.765538
7       ‚ñÅthe   5.685268
8       ‚ñÅces   5.168939
9  ‚ñÅprobably   5.035090
37
     token      logit
0   atinum  18.960163
1      ‚ñÅpl   7.563374
2  ‚ñÅsilver   7.548142
3     ‚ñÅsil   6.663846
4      ‚ñÅPl   6.530471
5     ‚ñÅtit   5.734644
6  ‚ñÅSilver   5.653485
7     ‚ñÅthe   5.488769
8     ‚ñÅces   5.025025
9  ‚ñÅcarbon   4.892628
39
     token      logit
0   atinum  19.669737
1      ‚ñÅpl   7.646701
2  ‚ñÅsilver   7.524157
3      ‚ñÅPl   6.610625
4     ‚ñÅsil   6.565014
5     ‚ñÅtit   5.637928
6  ‚ñÅSilver   5.559928
7     ‚ñÅthe   5.307813
8     ‚ñÅces   4.892132
9  ‚ñÅcarbon   4.811072

In [24]:

#
#model.base_model.model.layers.pop(31)

In [26]:
topk(out.logits[0,-1,:].cpu().numpy())

       token      logit
0       ‚ñÅthe  10.955291
1       ‚ñÅarg   9.615419
2    ‚ñÅcarbon   9.581732
3      ‚ñÅgold   9.542505
4         ‚ñÅb   9.452555
5     ‚ñÅhydro   9.409390
6    ‚ñÅsilver   9.310298
7  ‚ñÅprobably   9.113802
8       ‚ñÅflu   9.051174
9       ‚ñÅmer   9.013393

       token      logit
0     atinum  16.078453
1    ‚ñÅsilver   7.763600
2        ‚ñÅpl   7.306924
3       ‚ñÅsil   6.999122
4        ‚ñÅPl   6.256324
5       ‚ñÅthe   6.251010
6    ‚ñÅSilver   6.151449
7       ‚ñÅtit   6.095162
8  ‚ñÅprobably   5.724842
9       ‚ñÅces   5.584713

In [65]:
for i in range(33):
    print(' '.join(
        str(int(out.hidden_states[i][0,j,:].norm().item())) for j in range(9)
        )
    )

0 0 0 0 0 0 0 0 0
6 0 0 0 0 0 0 0 0
265 0 0 0 0 0 0 0 0
265 0 0 0 0 0 0 0 0
265 1 1 0 0 0 0 1 0
265 1 1 1 1 1 1 1 1
265 1 1 1 1 1 1 1 1
265 2 2 1 1 1 2 2 1
265 2 2 2 2 2 2 2 2
265 4 2 2 2 2 2 2 2
264 4 3 2 2 2 2 2 2
265 5 3 3 3 3 3 3 3
264 5 3 3 3 3 3 3 3
264 5 4 3 3 3 4 4 3
264 5 4 4 4 4 4 4 4
264 6 5 5 5 5 5 5 5
263 6 6 5 5 5 5 6 5
263 8 7 6 6 6 6 7 6
264 10 9 8 8 7 7 8 7
264 12 10 9 9 9 8 10 8
267 16 13 11 11 11 9 11 10
267 19 15 12 13 12 11 13 12
267 20 17 14 14 14 12 15 14
268 22 19 15 16 15 13 16 15
268 24 21 17 17 17 15 18 17
268 24 23 18 19 19 17 19 18
268 25 25 20 20 22 18 20 20
268 26 26 22 21 24 20 22 21
268 27 28 23 23 26 23 24 24
267 28 30 25 26 28 26 26 27
268 32 35 29 31 33 31 30 32
237 38 40 33 36 38 35 35 36
345 398 459 372 395 396 324 399 388

In [61]:
out.hidden_states[31]

torch.Size([1, 9, 4096])

In [51]:
topk(out.logits.detach().cpu().numpy()[0,-1,:])

            token      logit
0       ‚ñÅMichigan  13.245934
1      ‚ñÅWisconsin  13.089794
2      ‚ñÅMinnesota  12.887695
3        ‚ñÅIndiana  12.725050
4           ‚ñÅIowa  12.543724
5       ‚ñÅMissouri  12.224394
6           ‚ñÅOhio  12.205340
7       ‚ñÅIllinois  12.158340
8          ‚ñÅSouth  11.714095
9     ‚ñÅdefinitely  11.326981
10           ‚ñÅthe  11.272463
11         ‚ñÅNorth  11.176455
12           ‚ñÅNeb  11.065105
13      ‚ñÅprobably  10.846264
14      ‚ñÅKentucky  10.798969
15       ‚ñÅwithout  10.536729
16           ‚ñÅund  10.532318
17        ‚ñÅKansas  10.459734
18              ,  10.423826
19      ‚ñÅColorado  10.289072
20             ‚ñÅa  10.177610
21          ‚ñÅalso   9.959203
22         ‚ñÅhands   9.846262
23           ‚ñÅnow   9.797674
24            ‚ñÅmy   9.532832
25      ‚ñÅOklahoma   9.479873
26            ‚ñÅby   9.411868
27        ‚ñÅeasily   9.403625
28           ‚ñÅnot   9.403258
29            ‚ñÅno   9.347988
30     ‚ñÅcertainly   9.334706
31          ‚ñÅMont   9.322747
32           ‚ñÅone   9.223373
33  ‚ñÅPennsylvania   9.220661
34              ‚Ä¶   9.204512
35        ‚ñÅalways   9.194786
36         ‚ñÅstill   9.070404
37         ‚ñÅright   9.012264
38          ‚ñÅWest   8.999782
39          ‚ñÅmost   8.994453

In [15]:
model.base_model.model.layers.

<bound method ModuleList.insert of ModuleList(
  (0-31): 32 x MistralDecoderLayer(
    (self_attn): MistralAttention(
      (q_proj): Linear(in_features=4096, out_features=4096, bias=False)
      (k_proj): Linear(in_features=4096, out_features=1024, bias=False)
      (v_proj): Linear(in_features=4096, out_features=1024, bias=False)
      (o_proj): Linear(in_features=4096, out_features=4096, bias=False)
      (rotary_emb): MistralRotaryEmbedding()
    )
    (mlp): MistralMLP(
      (gate_proj): Linear(in_features=4096, out_features=14336, bias=False)
      (up_proj): Linear(in_features=4096, out_features=14336, bias=False)
      (down_proj): Linear(in_features=14336, out_features=4096, bias=False)
      (act_fn): SiLU()
    )
    (input_layernorm): MistralRMSNorm()
    (post_attention_layernorm): MistralRMSNorm()
  )
)>

In [63]:
print_tokens('My favorite state in the Midwest is Michigan')

<s>|‚ñÅMy|‚ñÅfavorite|‚ñÅstate|‚ñÅin|‚ñÅthe|‚ñÅMid|west|‚ñÅis|‚ñÅMichigan

In [53]:
Token[1]

'<s>'

In [42]:
A = np.random.normal(0, 1, (100, 10))
y = np.random.normal(0, 1, (100, 1))

In [43]:
w = constr_lsqr(y, A, 0.1)

238.84033203125

In [44]:
np.linalg.norm(w)

0.1000000058535913

In [48]:
np.linalg.inv(A.T @ A + 238.84033 * np.eye(10)) @ A.T @ y

array([[ 0.00752921],
       [ 0.02647566],
       [-0.0483614 ],
       [-0.02094679],
       [ 0.05765701],
       [-0.01300482],
       [-0.05031044],
       [-0.01093733],
       [ 0.00570315],
       [ 0.01697087]])

In [46]:
w

array([[ 0.00752921],
       [ 0.02647566],
       [-0.0483614 ],
       [-0.02094679],
       [ 0.05765701],
       [-0.01300482],
       [-0.05031044],
       [-0.01093733],
       [ 0.00570315],
       [ 0.01697087]])