In [2]:
import os
os.environ['HF_HOME'] = '/workspace/cache/huggingface/'
os.chdir('/workspace/FutureGPT2/src/')

from datasets import load_dataset, load_from_disk
from transformers import AutoConfig, AutoModelForCausalLM, AutoTokenizer
from itertools import islice
from collections import defaultdict
import re
from tqdm import tqdm
import torch
from torch import nn
from torch.nn import functional as F
import numpy as np
import gc
from matplotlib import pyplot as plt
import datasets
from torch.utils.data import DataLoader
import pandas as pd

%load_ext autoreload
%autoreload 2

In [3]:
model_name = 'EleutherAI/pythia-2.8b'
tokenizer = AutoTokenizer.from_pretrained(model_name)
Token = {v: k for k, v in tokenizer.get_vocab().items()}

Special tokens have been added in the vocabulary, make sure the associated word embeddings are fine-tuned or trained.

In [4]:
vanilla_state = torch.load(
    '/workspace/checkpoints/checkpoints_PYTHIA_UNSHARD/PYTHIA-PILE10M64-VANILLA-fp16_model_name_pythia-2.8b_lr_6.40e-05_warmup_5.00e-02_global_step=1627.0_train_loss=2.44.ckpt'
)['state_dict']
myopic_state = torch.load(
    '/workspace/checkpoints/checkpoints_PYTHIA_UNSHARD/PYTHIA-PILE10M64-MYOPIC-fp16_model_name_pythia-2.8b_lr_6.40e-05_warmup_5.00e-02_global_step=1627.0_train_loss=2.67.ckpt'
)['state_dict']
vanilla = AutoModelForCausalLM.from_pretrained(model_name).to('cuda')
myopic = AutoModelForCausalLM.from_pretrained(model_name).to('cuda')
vanilla.load_state_dict({'.'.join(k.split('.')[1:]): v for k, v in vanilla_state.items()})
myopic.load_state_dict({'.'.join(k.split('.')[1:]): v for k, v in myopic_state.items()})

In [5]:
torch.set_grad_enabled(False)
gc.collect()
torch.cuda.empty_cache()

In [6]:
def topk(v, k=10):
    # Takes in logits
    #v = softmax(v.flatten())
    if isinstance(v, torch.Tensor):
        v = v.cpu().numpy()
    v = v.flatten()
    idxs = v.argsort()[-k:][::-1]
    ret = [(Token[i], v[i]) for i in idxs]
    return pd.DataFrame(ret, columns=['token', 'logit'])

In [46]:
# test = load_from_disk('/workspace/corpus/the_pile/pile_PYTHIA_64tokens_20M')['test']
# test = test.cast_column('input_ids', datasets.Sequence(datasets.Value('int64')))
# test = test.with_format('torch', device='cuda')
# test_loader = DataLoader(test, batch_size=64)

In [85]:
# test = load_dataset(
#     'EleutherAI/pile-deduped-pythia-random-sampled',
#     split='train[:10000]'
# )
# test = test.rename_column('Tokens', 'input_ids')
# test = test.remove_columns([c for c in test.column_names if c != 'input_ids'])
# test = test.cast_column('input_ids', datasets.Sequence(datasets.Value('int64')))
# test = test.with_format('torch', device='cuda')
# test_loader = DataLoader(test, batch_size=64)

In [23]:
test = load_dataset('ms_marco', 'v1.1', split='test')
test = datasets.Dataset.from_list(
    [
        tokenizer('\n'.join(x['passage_text']), max_length=64, truncation=True)
        for x in test['passages']
    ]
)
test = test.with_format('torch', device='cuda')
test_loader = DataLoader(test, batch_size=64)

In [25]:
kls = []
for batch in tqdm(iter(test_loader)):
    gc.collect(); torch.cuda.empty_cache()
    vanilla_out = vanilla(**batch)
    myopic_out = myopic(**batch)
    vanilla_probs = F.softmax(vanilla_out.logits, dim=-1)
    vanilla_logprobs = F.log_softmax(vanilla_out.logits, dim=-1)
    myopic_logprobs = F.log_softmax(myopic_out.logits, dim=-1)
    kls.append((vanilla_probs * (vanilla_logprobs - myopic_logprobs)).sum(dim=-1).to('cpu'))

100%|██████████| 151/151 [07:04<00:00,  2.81s/it]

In [26]:
kl = torch.concat(kls, dim=0)

In [27]:
v, i = torch.topk(kl.flatten(), 20)
idxs = np.array(np.unravel_index(i.numpy(), kl.shape)).T

In [28]:
for i, j in idxs:
    i = int(i)
    j = int(j)
    seq1 = test[i]['input_ids'][:j+1]
    seq2 = test[i]['input_ids'][j+1:]
    out = ''.join(Token[x.item()] for x in seq1) + '|' + ''.join(Token[x.item()] for x in seq2)
    out = out.replace('Ġ', ' ').replace('Ċ', '\n')
    print(out)
    print(kl[i, j].item())
    vanilla_out = vanilla(input_ids=seq1.reshape(1, -1))
    myopic_out = myopic(input_ids=seq1.reshape(1, -1))
    vanilla_probs = F.softmax(vanilla_out.logits, dim=-1)
    vanilla_logprobs = F.log_softmax(vanilla_out.logits, dim=-1)
    myopic_logprobs = F.log_softmax(myopic_out.logits, dim=-1)
    print(
        pd.concat(
            [topk(vanilla_out.logits[0,-1]), topk(myopic_out.logits[0,-1])],
            axis=1
        )
    )
    #print((vanilla_probs * (vanilla_logprobs - myopic_logprobs)).sum(dim=-1)[0,-1].item())
    print('--------------------\n')

Please try again later. Monza About this sound listen is a city and comune on the River Lambro, a tributary of the Po in the Lombardy region of Italy, about 15 kilometres (9 miles) north-northeast of Milan. It is the capital of the Province of Monza and|
14.324137687683105
    token      logit     token      logit
0  ĠBrian  18.883274      Ġthe  14.316242
1    ĠâĢ¦  12.807458       Ġis  13.319670
2    Ġ...  12.581610       Ġof  12.702269
3     ...  12.282018      Ġhas  12.426638
4    Ġthe  12.103540        Ġa  12.392349
5   Brian  11.708487         ,  11.626892
6     Ġof  11.391341      Ġone  11.527664
7     âĢ¦  11.338493      Ġits  11.258924
8      Ġa  10.932683     Ġhome  11.164782
9       ,  10.850215  Ġborders  11.111320
--------------------

Demographics. As of 2001 India census[2], Hoshiarpur had a population of 148,243. Males constitute 53% of the population and females 47%. Hoshiarpur has an average literacy rate of 78%, higher than the national average of 59.5%|: male literacy is 81%, and
11.271092414855957
       token      logit        token      logit
0          :  20.504263         Ġfor  17.069881
1         .[  16.165495         Ġand  16.273739
2         :[  15.302949          Ġin  13.462266
3          [  13.648723       Ġamong  12.728594
4       Ġand  13.302050        Ġwith  12.276692
5          ;  13.124678  Ġnationwide  12.085976
6          Ċ  12.947485    Ġrecorded  11.994896
7  Ġliteracy  12.781277          Ġat  11.730290
8          /  12.531319          Ġof  11.676227
9         Ġ:  12.410896           Ġ(  11.447744
--------------------

The company is best known for its flagship product Coca-Cola, invented in 1886 by pharmacist John Stith Pemberton in Columbus, Georgia. The Coca-Cola formula and brand was bought in 1889 by Asa Griggs| Candler (December 30, 1851 âĢĵ March 12, 1929), who
9.952861785888672
    token      logit token      logit
0   ĠCand  18.625141     ,  14.408253
1       ,  11.226711  Ġand  13.256882
2   ĠGray  10.559549     .  12.849661
3     ĠHa  10.436880   Ġof  12.299501
4    Ġand  10.324520   Ġin  12.278571
5     ĠYe   9.994822    Ġ(  11.709741
6   ĠClay   9.929520  Ġwho  11.512751
7  ĠPerry   9.862898    ĠP  11.248994
8  ĠWhite   9.828531    Ġ&  10.943182
9   ĠCarm   9.763000  Ġfor  10.693796
--------------------

Chicago White Sox activated RHP Jeff Samardzija. RHP Jeff Samardzija roster status changed by Chicago White Sox. Oakland Athletics traded RHP Jeff Samardzija and RHP Michael Ynoa to Chicago White Sox for RHP Chris Bass|itt, C Josh Phegley, 1B
9.435807228088379
  token      logit token      logit
0   itt  20.237505   ett  15.184168
1     .  14.310938   ler  14.474174
2   ett  14.174757     .  14.413857
3  Ġand  13.702187    on  13.640501
4     i  13.304571  Ġand  13.499740
5   ler  12.804724     ,  13.462957
6   ing  12.376169     i  12.671798
7    in  12.148720   man  12.507968
8   ...  11.645802    in  12.017834
9    ie  11.604161    am  11.836546
--------------------

a. making segregation illegal. b. opening the political process to more African Americans. c. eliminating poverty in the United States. d. giving African Americans a new sense of ethnic pride. 1 You can only upload files of type| PNG, JPG, or JPEG. 2  You can only upload files of type
9.193745613098145
          token      logit    token      logit
0            Ġ3  19.059381       ĠJ  18.491493
1            Ġ7  16.490633       Ġj  18.116196
2            Ġ9  13.919893       Ġ.  15.481651
3            Ġ5  13.752542   Ġimage  15.056351
4        Ġimage  13.558812    Ġtext  14.502466
5         Ġtext  13.329288       Ġ"  13.271114
6  Ġapplication  12.744902  Ġimages  13.088664
7            Ġ6  12.648560     ĠDOC  12.932145
8            Ġ8  12.522440       Ġ*  12.383449
9            Ġ.  12.336823      ĠMP  12.351080
--------------------

I'll Fly Away , is a hymn written in 1929 by Albert E. Brumley and published in 1932 by the Hartford Music company in a collection titled Wonderful Message. Brumley's writing was influenced in part by an older secular ballad. In a history given by the current Chuck Wagon| Gang,
9.122394561767578
    token      logit   token      logit
0  ĠMusic  11.822206      er  18.559181
1   ĠGang  11.355024     ham  13.136130
2     ĠCh  10.665624       a  10.794370
3   ĠBand  10.554970  wright  10.569508
4   ĠBoys  10.543879       ,  10.054676
5      's  10.527625   field  10.016546
6  Ġmusic  10.474751      's   9.977290
7       ,  10.439056     ner   9.870568
8   Ġband  10.360708   maker   9.743808
9     ĠBr  10.057323     ter   9.705690
--------------------

Included is a guide to the average salaries offered in IT jobs that have cited Support Analyst in their job title over the 3 months to 15 October 2015 with a comparison to the same period in the previous 2 years. The table below looks at the demand and| provides a guide to the average salaries quoted in IT jobs citing
8.868534088134766
          token      logit          token      logit
0     Ġincludes  14.935930        Ġsupply  22.096226
1          Ġthe  14.868793    Ġemployment  15.996272
2     Ġprovides  14.769218      Ġsalaries  15.627950
3       Ġsupply  14.199615        Ġskills  15.151638
4   Ġproportion  13.960892       Ġvacancy  15.148865
5  Ġperformance  12.868158        ĠSupply  15.108349
6   Ġpercentage  12.503386   Ġrecruitment  14.626556
7  Ġcompetition  12.423772        Ġtrends  14.602598
8       Ġtrends  12.358267        Ġoffers  14.113535
9    Ġprovision  12.356203  Ġavailability  14.108831
--------------------

Name Adarsh generally means Ideal, is of Indian origin, Name Adarsh is a Masculine (or Boy) name. Person with name Adarsh are mainly Hindu by religion. Name Adarsh belongs to| rashi Mesh (Aries) with dominant planet Mars (Mangal) and Nakshat
8.682456970214844
       token      logit    token      logit
0         Ġr  14.797125     Ġthe  13.744530
1         Ġa  10.818552   ĠHindu  12.454027
2         ĠR  10.100803     ĠTel  11.745267
3  Ġcategory   9.974319       Ġa  11.349149
4       Ġthe   9.705047       ĠK  11.344797
5     ĠHindu   9.646882  ĠIndian  11.337448
6       ĠRaj   9.500223       ĠS  11.329216
7   Category   9.466999     ĠDes  11.300241
8      Ġlist   9.415305     ĠDev  11.152130
9    ĠIndian   9.258755       ĠA  11.097158
--------------------

It has been shown that survival and differentiation of BFCNs during development and their maintenance in the mature brain depends on supply of neurotrophins particularly nerve growth factor (NGF) (see Salehi et al., 1998, 2004; Sofron|iew et al., 2001). The nucleus basalis of Meyn
8.671697616577148
  token      logit token      logit
0   iew  21.061432    ov  13.489220
1    ie  16.012421   ova  12.551203
2    ii  15.482556   Ġet  12.484108
3    is  15.394398   off  12.469845
4   its  15.166685     ,  12.356605
5    ij  14.867508  ovic  11.760647
6    ik  14.443224    is  11.527299
7   iev  14.409109  Ġand  11.425865
8   off  14.169510    ow  11.203758
9   iki  13.848625    ko  11.037443
--------------------

Disease modifying anti-rheumatic drugs (DMARDs). DMARDs are often prescribed for inflammatory types of arthritis, such as rheumatoid arthritis. They not only reduce pain, but also help slow damage from these diseases. Some are older drugs, like Trexall (methotrexate) and Az|ulf
8.618700981140137
  token      logit token      logit
0   ulf  18.788441   ath  20.990219
1   ath  16.661005   ith  16.090309
2  asan  15.431034    am  15.243465
3    el  14.733799    ot  15.216470
4    il  13.573759    od  14.667892
5    as  13.481754   loc  14.629995
6    ul  13.380477    ap  14.436881
7   ith  13.353003    el  14.384579
8  ulin  13.336637   ati  14.143502
9    ur  12.924633  athi  14.048244
--------------------

Now, Therefore, for good and valuable consideration, the| receipt and sufficiency of which is hereby acknowledged, the parties agree as follows: Agreement elsewhere: Skip the spreadsheet.
What does âĢľin addition to other valuable consideration, the receipt and sufficiency of which consideration is hereby acknowledgedâĢĿ mean? 7 Answers as of October 23
8.516937255859375
      token      logit        token     logit
0  Ġreceipt  16.232067   Ġfollowing  9.670663
1   Ġunders  12.144242      Ġpeople  8.900684
2    Ġparty  12.138661       ĠBoard  8.579132
3     Ġsaid  11.882803   ĠPresident  8.294485
4         Ċ  10.818283     Ġpresent  8.251215
5  Ġparties  10.766541  Ġgovernment  8.034979
6      Ġsum  10.702633            Ċ  8.025438
7       ĠUn  10.675176     Ġmembers  8.021609
8    ĠState  10.618093       ĠHouse  7.871984
9      Ġcov   9.990391        ĠLord  7.835173
--------------------

Perhaps in five years, certainly in fifty, everyone will know it. Theodor Herzl (May 2, 1860 âĢĵ July 3,| 1904) was an Austrian Jewish journalist who became the founder of modern political Zionism. His Hebrew personal name was Binyamin Ze'ev.
Herzl had one sister
8.4424409866333
   token      logit  token      logit
0  Ġ1904  20.230692  Ġ1945  13.145778
1  Ġ1905  17.407734  Ġ1943  12.940766
2  Ġ1913  16.739613  Ġ1954  12.924029
3  Ġ1896  16.535990  Ġ1961  12.882404
4  Ġ1916  16.345722  Ġ1944  12.817703
5  Ġ1902  16.265676  Ġ1939  12.560679
6  Ġ1903  16.130774  Ġ1955  12.511051
7  Ġ1917  15.802833  Ġ1941  12.383379
8  Ġ1915  15.556732  Ġ1937  12.283134
9  Ġ1919  15.347742  Ġ1975  12.170862
--------------------

A. An iron infusion is simply a liquid dose of iron given in the veins. Iron is an essential mineral that we get from eating foods such as meat, eggs, and leafy greens. Iron is needed to make hemoglobin, the oxygen-carrying substance in red blood cells.
Answers.| Iron intravenous
8.149826049804688
     token      logit   token      logit
0      com  19.184319       Ċ  12.100058
1        Ċ  12.986210      Ġ1  11.001295
2      Com  11.348226     ĠAn  10.851730
3     Ġcom  11.246872      ĠA  10.768950
4      COM  11.232269    ĠThe  10.627284
5  ĠChoose  11.154080   ĠIron  10.445514
6     ÑĢÑĥ  11.030340      Ġ(  10.344339
7  ĠPlease  11.027864  ĠThere   9.064219
8     ĠThe  10.905615     ĠIn   9.049243
9    ĠSome  10.835629       1   9.043981
--------------------

Sir Frank J. Whittle experimented with and constructed turbo-jet engines in pre-World War II England. In 1929 he patented a turbo-jet engine and in 1937 proved to skeptical British Air Ministry officials that a jet powered aircraft was feasible.
Hans von âĢ¦ Oh|ain is considered the designer of the
8.035262107849121
  token      logit token      logit
0   ain  19.985668     r  12.408989
1     l  16.279549     l  12.201925
2    de  13.718550     m  11.620280
3    rd  12.862649     ,  11.435240
4    le  11.844513    ne  11.343981
5    ld  11.708981     n   9.929440
6    ls  11.666760    no   9.910480
7    ly  11.140807    ms   9.774966
8    ll  11.052780     !   9.763799
9     r  11.034997   lin   9.284109
--------------------

Dancer Salary. Dancer average salary is $30,683, median salary is $28,952 with a salary range from $20,030 to $54,340. Dancer salaries are collected from government agencies and companies. Each salary is associated with a real job position. Dancer salary statistics is| not
8.023963928222656
        token      logit       token      logit
0        Ġnot  23.135933      Ġbased  21.334784
1        ĠNOT  13.779222  Ġcollected  18.181484
2      Ġbased  12.958242   Ġintended  16.621519
3        ĠNot  12.891931    Ġupdated  16.380419
4  Ġcollected  12.846441   Ġprovided  15.850049
5       Ġpart  12.545411      Ġshown  15.829792
6         Not  12.414738          Ġa  14.935037
7        Ġfor  12.196436    Ġderived  14.925108
8         not  12.088654    Ġsourced  14.894826
9   Ġcomplete  11.994898   Ġbelieved  14.546494
--------------------

Amendment XVII. The Senate of the United States shall be composed of two Senators from each state, elected by the people thereof, for six years; and each Senator shall have one vote. The electors in each state shall have the qualifications requisite for electors of the| most numerous branch of the state legislatures.
8.017223358154297
         token      logit     token      logit
0        Ġmost  23.082840   ĠUnited  18.149544
1     Ġhighest  16.183468   ĠSenate  15.379693
2      ĠSenate  15.311903    Ġother  14.650271
3      ĠUnited  14.301042      Ġsen  14.610670
4   ĠPresident  13.736194    Ġstate  13.307098
5     Ġseveral  13.460857     Ġsame  12.855661
6  Ġrespective  13.375227    ĠHouse  12.190749
7         Ġsen  13.324018        ĠU  12.176977
8    Ġgreatest  13.308817  Ġfederal  11.986292
9       Ġleast  13.162054    Ġwhole  11.952541
--------------------

The largest known pigeon ever was the dodo (Raphus cucullatus), weighing 23 kg (51 lb) and standing 1 m (3.3 ft) tall. Rodrigues solitaire (Pez|ophaps solitaria), a brown, long-necked birds that were superficially
7.8926496505737305
  token      logit token     logit
0   oph  19.703419     -  8.984439
1    op  14.788610     )  8.949410
2    oc  14.683045     ,  8.519657
3   ope  13.629035   Ġde  8.330950
4    om  13.601119   iza  7.893231
5    od  12.910605    ),  7.774854
6  oper  12.849193   sol  7.582560
7   ach  12.308215     l  7.525649
8    us  11.841637    iz  7.458490
9   osp  11.824358  ĠPer  7.398187
--------------------

This work is based in the Oxford Institute for Energy Studies, Earth Sciences, Engineering, Chemistry, the Mathematical Institute, Politics and International Relations, Geography, and International Development.
This work is based in the Smith School of| Enterprise and the Environment * , the Oxford Institute for Energy Studies, International Development, the Environmental Change
7.867946624755859
            token      logit           token      logit
0     ĠEnterprise  17.885393       ĠBusiness  18.184319
1    ĠEngineering  13.246828         ĠSocial  16.633869
2      ĠEconomics  12.398767     ĠGovernment  14.999976
3         ĠPublic  12.224113    ĠEngineering  14.875208
4       ĠBusiness  12.116155         ĠGlobal  14.228216
5     ĠIndustrial  11.874699         ĠPublic  14.208378
6  ĠEnvironmental  11.761284       ĠAdvanced  14.143629
7    ĠElectronics  10.874262     ĠManagement  13.452482
8      ĠEducation  10.864140  ĠInternational  13.427890
9        ĠAccount  10.777281      ĠEconomics  13.421571
--------------------

Latest news from South Bend, WA collected exclusively by| city-data.com from local newspapers, TV, and radio stations. Ancestries: German (16.6%), English (11.0%), Irish (9.6%), United States (3.3%), Norwegian (2.7%), Scottish (2
7.8066725730896
     token      logit      token      logit
0    Ġcity  20.557961       Ġthe  12.622313
1    ĠCity  15.740623        ĠUS  11.824097
2     city  14.931435      ĠBeer  11.341784
3     City  13.164980       ĠNBC  10.572598
4  Ġcities  12.775230        ĠEy  10.486458
5    Ġtown  12.170250      ĠESPN  10.458678
6    ĠCITY  11.622866        ĠBT  10.345695
7     Ġway  11.341446         ĠE  10.083526
8  Ġstreet  11.080853  ĠCatholic  10.012224
9   Ġurban  10.887075         ĠV   9.869373
--------------------

No state shall make or enforce any law which shall abridge the privileges or immunities of citizens of the United States; nor shall any state deprive any person of life, liberty, or property, without due process of law; nor| deny to any person within its jurisdiction the equal protection of the laws. See more ... All
7.740264892578125
       token      logit     token      logit
0      Ġdeny  21.593197    Ġshall  21.769001
1     Ġshall  15.934494  Ġdeprive  14.042160
2     Ġgrant  13.752481     Ġdeny  13.966206
3   Ġprovide  13.602372       Ġab  13.913641
4   Ġdeprive  13.004073      Ġmay  13.502507
5    Ġpermit  12.948858      Ġany  12.984712
6  Ġprohibit  12.784537      Ġimp  12.636438
7    Ġdenied  12.021780  Ġinfring  12.633858
8          Ċ  11.913989     Ġwill  12.447817
9      Ġgive  11.845655         Ċ  12.346911
--------------------

In [70]:
(vanilla_probs * (vanilla_logprobs - myopic_logprobs)).sum(dim=-1).shape

torch.Size([1, 40])

In [11]:
''.join(Token[x.item()] for x in test[10]['input_ids']).replace('Ġ', ' ')

'3/06/2015 - Construction Industry Networking in Tees ValleyĊĊConstructing Excellence in the North East is delighted to bring you the Tees Valley Network. We are extremely pleased to announce this monthâĢĻs sponsor is Clugston Construction.ĊĊThis relaxed and informal networking event will provide an opportunity for'

In [133]:
input = tokenizer('173+204=3', return_tensors='pt').to('cuda')

In [134]:
pd.concat(
    [topk(vanilla(**input).logits[0,-1,:]), topk(myopic(**input).logits[0,-1,:])],
    axis=1
)

  token      logit token      logit
0     Ċ  11.634122     *  11.176103
1     *  11.251266     .  11.171001
2     ,  11.000799     Ċ  10.971567
3     .  10.844119     e   8.933270
4     (  10.661886     ,   8.471508
5     +  10.438973    Ġ+   8.431137
6    Ġ+   9.861268     +   8.300894
7    Ġ(   9.305843     :   8.272080
8    Ġ*   9.231849     -   8.137039
9    Ġx   9.191463    Ġ=   8.118850

In [83]:
topk(myopic(**input).logits[0,-1,:])

  token      logit
0   ats  13.352908
1    ik  11.546961
2   ime  11.361863
3   ana  11.217769
4  etal  11.110579
5   are  11.059260
6   ina  10.908261
7    aj  10.889086
8    if  10.771758
9    ak  10.658453

In [39]:
vanilla(**input).logits.shape

torch.Size([1, 12, 50304])